<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Render</title>
</head>
<body>
    <ul id="example-1">
        <li v-for="item in items" :key="item.id">
            {{ item.message }}
        </li>
        <li v-for="(value, key) in items[0]">
            {{ key }}: {{ value }}
        </li>
    </ul>
    <ul id="v-for-object" class="demo">
        <li v-for="(value, key) in object">
            {{ key }}: {{ value }}
        </li>
        <li v-for="(value, key, index) in object">
            {{ index }}. {{ key }}: {{ value }}
        </li>
    </ul>
    <ul id="example-2">
        <li v-for="n in evenNumbers">{{ n }}</li>
        <li><span v-for="n in 10">{{ n }} </span></li>
    </ul>
    <!-- TODO-LIST -->
    <div id="todo-list-example">
        <input
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
            placeholder="Add a todo"
        >
        <ul>
            <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"
            ></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var example1 = new Vue({
            el: '#example-1',
            data: {
                items: [
                    { message: 'Foo', id: '0' },
                    { message: 'Bar', id: '1' }
                ]
            }
        })
        // example1.items = example1.items.filter(function (item) {
        //    return item.message.match(/Foo/)
        // })
        new Vue({
            el: '#v-for-object',
            data: {
                object: {
                    firstName: 'John',
                    lastName: 'Doe',
                    age: 30
                }
            }
        })
        new Vue({
            el: '#example-2',
            data: {
                numbers: [ 1, 2, 3, 4, 5 ]
            },
            computed: {
                evenNumbers: function () {
                    return this.numbers.filter(function (number) {
                        return number % 2 === 0
                    })
                }
            }
        })

        Vue.component('todo-item', {
            template: '\
                <li>\
                    {{ title }}\
                    <button v-on:click="$emit(\'remove\')">X</button>\
                </li>\
            ',
            props: ['title']
        })

        new Vue({
            el: '#todo-list-example',
            data: {
                newTodoText: '',
                todos: [
                    {
                        id: 1,
                        title: 'Do the dishes',
                    },
                    {
                        id: 2,
                        title: 'Take out the trash',
                    },
                    {
                        id: 3,
                        title: 'Mow the lawn'
                    }
                ],
                nextTodoId: 4
            },
            methods: {
                addNewTodo: function () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        title: this.newTodoText
                    })
                    this.newTodoText = ''
                }
            }
        })
    </script>
</body>
</html>