@media screen and (min-width: 600px) {
    html {
      font-size: 80px;
    }
  
    nav {
      width: 2rem;
      position: absolute;
      left: 0;
      background-color: #4fff42;
    }
}
  
@media screen and (max-width:599px) {
    html {
      font-size: 50px;
    }
  
    nav li {
      display: inline;
    }
}
  
body {
    margin: 0;
    padding: 0;
    font-size: .2rem;
}
  
.divTemp {
    height: 1rem;
    width: 1rem;
    margin: 0 auto;
}
  
#position {
    background-color: green;
    color: green;
}
  
.first {
    background-color: red;
}
  
.fancy {
    /* 元素的边框和内边距会撑开元素 */
    /* 解决办法：box-sizing: border-box; */
    padding: 50px;
    border-width: 1rem;
    background-color: #184734;
}
  
.static {
    /* static 不能被其它元素 positioned */
    position: static;
    background-color: #1a9c81;
}
  
.relative1 {
    position: relative;
    background-color: #000000;
}
  
.relative2 {
    /* 采用相对定位的元素可以偏离其正常位置 */
    position: relative;
    top: -20px;
      left: 20px;
    background-color: white;
}
  
.fixed {
    /* fixed 相对于视窗定位，不随页面滚动，脱离文档流 */
    position: fixed;
    bottom: 0;
    right: 0;
    width: 2rem;
    background-color: #5bcaa2;
}
  
.absolute {
    /* 绝对定位相对于最近的 positioned 祖先元素定位 */
    /* 如没有最近的该祖先则相对于 body 元素 */
    position: absolute;
    top: 1rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-color: #a8c717;
}

#practice {
    height: 2rem;
    background-color: #84dcdc;
    color: red;
}
  
section {
    /* position is static by default */
    margin-left: 2rem;
}
  
footer {
    position: fixed;
    bottom: 0;
    left: 0
    height: 1rem;
    width: 5rem;
    background-color: #acacac;
}
  
#float {
    height: 4rem;
}
  
img {
    height: 2rem;
    width: 2rem;
    margin: 0 0 1em 1em;
    float: right;
}
  
.notClear {
    background-color: blue;
}
  
.clear {
    background-color: blue;
    clear: right;
}
  
#inlineBlock {
    height: auto;
    background-color: #ee1eaa;
}
  
.hard .box {
    float: left;
    width: 1rem;
    height: 1rem;
    margin: .5rem;
    background-color: #34ba64;
}
  
.hard .afterBox {
    clear: left;
}
  
.easy .box {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: .5rem;
    background-color: #64ba34;
}
  
#columns {
    height: auto;
}
  
.threeColumn {
    padding: 1rem;
    -moz-column-count: 3;
    -moz-column-gap: 1rem;
    -webkit-column-count: 3;
    -webkit-column-gap: 1rem;
    column-count: 3;
    column-gap: 1rem;
}
  
#flexbox {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #434343;
}
  
.verticalDiv {
    height: 3rem;
    width: 5rem;
    background-color: white;
}